<!DOCTYPE html>
 <html>
  <body>
   <main>
    <p id="notice"></p>
     <div class="container">
      <div class="row">
       <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
       </div>
      </div>
     </div>

     <div class="btn-wrapper col-10 mx-auto">
      <div class="row">
       <h4>新着商品</h4>
        <%# @items.each do |item| %>
         <table>
          <tr>
           <td><%#= attachment_image_tag item, :image %></td>
           <td><%#= link_to item.name, item_path(item) %></td>
           <td><%#= item.price %></td>
          </tr>
         </table>
        <%# end %>
      </div>
     </div>
   </main>
  </body>
 </html>