<!DOCTYPE html>
<body>
 <main>
  <p id="notice"></p>
   <div class="container">
    <div class="row">
     <h1 class="px-3 mx-auto">
      About
     </h1>
    </div>

      <a>ながのCAKEは全国発送可能なケーキ屋さんです。</a></br>
      <a>お子様からお年寄りの方までお召し上がりいただけるよう、</a></br>
      <a>様々なバリエーションをご用意しております。</a></br>
      <a>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</a></br>
      <a>ぜひご注文ください。</a>

   </div>
 </main>
</body>