<h4>商品一覧</h4>
 <div class="container">
  <div class="row">
   <% @items.each do |item| %>
    <div class="col-lg-3 col-md-6 mb-4">
     <table>
      <tr>
       <td><%= attachment_image_tag item, :image %></td>
      </tr>
      <tr>
       <td><%= link_to item.name, item_path(item) %></td>
      </tr>
      <tr>
       <td><%= item.price %></td>
      </tr>
     </table>
    </div>
   <% end %>
  </div>
 </div>
