<h2>商品一覧</h2>

<% @items.each do |item| %>
 <table>
  <tr>
   <td><%= attachment_image_tag item, :image %></td>
   <td><%= link_to item.name, item_path(item) %></td>
   <td><%= item.price %></td>
  </tr>
 </table>
<% end %>
